# Postgres Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=omnichannel_e_commerce_db
POSTGRES_DB_PORT=5432

# MinIO Configuration
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin123456
MINIO_API_PORT=9000
MINIO_UI_PORT=9001
